*/StartContent/* filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Audio filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Blueprints filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Maps filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Materials filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Shapes filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Textures filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Architecture filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/HDRI filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Particles filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Props filter=lfs diff=lfs merge=lfs -text
Content/VRSpectator/RT_VRSpectator.uasset filter=lfs diff=lfs merge=lfs -text
Content/VRSpectator/VRSpectator.uasset filter=lfs diff=lfs merge=lfs -text
Content/VRTemplate/Blueprints filter=lfs diff=lfs merge=lfs -text
Content/VRTemplate/Haptics filter=lfs diff=lfs merge=lfs -text
Content/VRTemplate/Maps filter=lfs diff=lfs merge=lfs -text
Content/VRTemplate/Materials filter=lfs diff=lfs merge=lfs -text
Content/VRTemplate/Meshes filter=lfs diff=lfs merge=lfs -text
Content/VRTemplate/Textures filter=lfs diff=lfs merge=lfs -text
Content/VRTemplate/VFX filter=lfs diff=lfs merge=lfs -text
Content/VRTemplate/Audio filter=lfs diff=lfs merge=lfs -text
Content/Geometry/Meshes filter=lfs diff=lfs merge=lfs -text
